a.cpp
b.cpp
c.cpp
d.cpp
e.cpp
f.cpp
g.cpp
h.cpp
i.cpp
j.cpp
k.cpp
l.cpp
m.cpp
n.cpp
o.cpp
p.cpp
q.cpp
r.cpp
s.cpp
t.cpp
u.cpp
v.cpp
w.cpp
x.cpp
y.cpp
z.cpp
main.cpp
submit.cpp
tmp.cpp
gen.cpp

in
out
o
a.out
*.gch
incl/testlib.h*

main.py
__pycache__/